# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
*.duckdb

# IDE
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/.user.yml

# OS
.DS_Store
Thumbs.db
